/*-------- Global --------*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	font-family: proxima nova, sans-serif;
}

body {
	width: 100%;
	background-image: url(Media/Images/BG_01.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
	width: 90%;
	margin: 0 auto;

}


/*-------- Nav --------*/




/*-------- Landing --------*/




/*-------- Maps --------*/




/*-------- Contact --------*/





/*-------- About --------*/














