/*-------- Global --------*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	font-family: proxima nova, sans-serif
	
}

/*-------- Nav --------*/




/*-------- Landing --------*/




/*-------- Skills --------*/




/*-------- Work 01 --------*/




/*-------- Work 02 --------*/




/*-------- Work 01 and 02 --------*/




/*-------- Footer --------*/














